url: 'https://www.kijiji.ca/h-city-of-toronto/1700273'
category: 'apartments,.+condos'
price_min: 1500
price_max: 3000
paging_max: 10
radius: 10.0
address: 'H0H0H0'
latitude: 43.123456
longitude: -79.123456
ad: 'offering'
furnished: 0
reject: 'basement,detached'
accept: 'apartment,downtown'