url: 'https://www.kijiji.ca/b-for-rent/city-of-toronto/c30349001l1700273'
category: 'Apartments & Condos for Rent'
price_min: 1500
price_max: 3000
paging_max: 10
radius: 10.0
address: 'M5G1P5'
latitude: 43.6534829
longitude: -79.3862826
ad: 'offering'
furnished: 0
reject: 'basement,detached'
reject_older_than: 240
accept: 'apartment,downtown'